.idea
.idea/*
code/*.pyc
code/*_plots
code/tmp*
code/midi
code/rnnslu
code/*.csv
code/mnist.pkl
code/mnist.pkl/*
data/atis.*
data/mnist.pkl.gz
data/mnist_py3k.pkl.gz
data/Nottingham.zip
data/Nottingham
data/midi.zip
input
input/*.csv
html
*.pyc
*~
*.swp
